/vendor/
/composer.lock
/.phpunit.result.cache
/.phpunit.cache
/.phpunit/
/.phpcs-cache
/.php_cs.cache
/coverage/
/.idea/
/.vscode/
/phpstan.neon
.phpunit.xml
/.DS_Store
node_modules/
/*.log
/.env
/.env.*
/*.swp
*.sublime-workspace
*.sublime-project
/nbproject/
/build/
/dist/
/tmp/
/tests/_output/